<div ng-app="ngApp" ng-controller="AnimateCtrl">
    <div class="boundingBox">
       <div class="circle"
           ng-repeat="shape in shapes"
           animate="shape"
           />
    </div>
</div>