div {
	display: block;
}
.am-fade.aside-backdrop, .am-fade.modal-backdrop {
	background-color: rgba(0,0,0,.5);
}
.popover{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	white-space: normal;
}
.am-flip-x{
	-webkit-animation-duration: .4s;
	animation-duration: .4s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}
.popover.bottom {
	margin-top: 10px;
}
.aside-backdrop.am-fade, .modal-backdrop.am-fade {
	background: rgba(0,0,0,.5);
	-webkit-animation-duration: .15s;
	animation-duration: .15s;
}
.am-fade {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
	opacity: 1;
}
.aside-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}


.aside.left {
	left: 0;
	right: auto;
}
.am-fade-and-slide-left {
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-fill-mode: backwards;
	animation-fill-mode: backwards;
}
[tabindex="-1"] {
	outline: 0;
}
.aside {
	z-index: 1049;
	background: #fff;
	position: fixed;
	overflow: auto;
	min-width: 320px;
	top: 0;
	bottom: 0;
}


.aside .aside-dialog .aside-header {
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.43px;
	padding: 6px 15px;
	background: #428bca;
	color: #fff;
}
.aside .aside-dialog .aside-body {
	position: relative;
	padding: 20px;
}
.aside .aside-dialog .aside-footer {
	margin-top: 15px;
	padding: 19px 20px 20px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}






/* JUST FOR TESTING ANIMATION 1 */
.boundingBox {
    width: 600px;
    height: 600px;
    background-color: #333333;
    margin:20px;
}

.circle {
    display:block;
    position:absolute;
    height: 20px;
    width: 20px;
    background-color: #999;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.box {
    display:block;
    position:absolute;
    height: 20px;
    width: 20px;

}

#controls {
    position: absolute;
    top: 620px;
}
/* JUST FOR TESTING ANIMATION 1 FINISH */